.footer-container {
  background: linear-gradient(135deg, #05191d, #0a2e33);
  color: #333;
  padding: 60px 0;
  text-align: left;
  border-top: 3px solid #b71c1c;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 280px;
}

.about-section {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 80px;
  margin-right: 20px;
}

.about-text {
  border-left: 2px solid #b71c1c;
  padding-left: 20px;
}

.footer-section h2,
.footer-section h3 {
  color: #b71c1c;
  font-size: 18px;
  font-weight: 600;
  margin-left:10px;
}

.footer-section p {
  font-size: 14px;
  color: #ffff;
  line-height: 1.5;
}

.social-icons {
  margin-top: 8px;
}

.social-icons a {
  font-size: 20px;
  color: #ffff;
  margin-right: 8px;
  width: 50px;
  display: inline-block;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #b71c1c;
}
