.annual-report-container {
    text-align: center;
    padding: 150px;
    background-color: #f8f9fa;
}

.annual-report-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

.annual-report-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.report-item {
    width: 280px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-thumbnail {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.report-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

.view-btn, .download-btn {
    flex: 1;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    transition: 0.3s;
    font-weight: bold;
    text-align: center;
}

.view-btn {
    background-color: #28a745;
    color: white;
}

.view-btn:hover {
    background-color: #218838;
}

.download-btn {
    background-color: #007bff;
    color: white;
}

.download-btn:hover {
    background-color: #0056b3;
}
