.subscription-section {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
}
.newsletter-icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.subscription-container h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.subscription-container p {
  color: #555;
  margin-bottom: 20px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription-form input[type="email"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.subscription-form button {
  background-color: #00bfff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subscription-form button:hover {
  background-color: #009acd;
}
