.values-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

.values-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.values-content {
    padding: 40px 20px;
}

.values-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.value-item {
    background-color: #064753;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.value-item:hover {
    transform: translateY(-10px);
}

.value-icon {
    font-size: 36px;
    margin-bottom: 10px;
    color: #e91e63;
}

.value-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.value-item p {
    font-size: 0.9em;
    line-height: 1.5;
}
