.core-values {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}
.value-overlay {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.value-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.line {
  width: 80px;
  height: 4px;
  background-color: #3498db;
  margin: 20px auto;
  animation: slide-in 1s ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.values {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.value-item {
  background-color: #064753;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.value-item:hover {
  transform: translateY(-10px);
}

.value-icon {
  font-size: 36px;
  margin-bottom: 10px;
  color: #e91e63; /* Consistent icon color */
}

.value-item h2 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}